body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: #E6DADA; 
    background-image: -webkit-linear-gradient(to top, #274046, #E6DADA);  
    background-image: linear-gradient(to top, #274046, #E6DADA);
    /* background-image: conic-gradient(at 0% 30%, red 10%, yellow 30%, #1e90ff 50%); */
    /* background-size: 150% 150%; */
    height: 100vh;
    animation: background 8s ease infinite;
}

@keyframes background {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}
div.content {

  margin-left: 10px;
  margin-right: 10px;
  width: 50%;
  background: transparent

}
div.form-row {
  display: flex;
    align-items: center;
    justify-content: center;
}