{% extends 'base.html' %}

{% block head %}
<title> SPLINE! </title>
{% endblock %}


{%block body%}
<div class="content">
    <h1>Spline: </h1>
    <p>
        {% with ms  = get_flashed_messages()%}
            {% if ms %}
                <ul>
                    {% for m in ms %}
                        <li>{{m}}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </p>
    <div class="form-row">

        <form method="post" action="/" enctype="multipart/form-data">

            <div class="mb-3">
                <label for="formFile" class="form-label">Select your picture here</label>
                <input class="form-control" type="file" id="formFile" name="file" required>
                <input type="text" id="T" placeholder="Enter T array here" name="T">
                <input type="text" id="C" placeholder="Enter Coefficients array here" name="C">
                <input type="text" id="K" placeholder="Enter K Value here" name="K">
            </div>

            <p>
                <input type="submit" value="Apply changes!" class="btn btn-info">
            </p>
        </form>
        <img src={{url}} class="image" alt="spline demo" >
    </div>
    
</div>
{% endblock %}
