{% extends 'base.html' %}

{% block head %}
<title> SPLINE! </title>
{% endblock %}


{%block body%}
<div class="content">
    <h1>Spline: </h1>
    <p>
        {% with ms  = get_flashed_messages()%}
            {% if ms %}
                <ul>
                    {% for m in ms %}
                        <li>{{m}}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </p>
    <div class="form-row">

        <form method="post" action="/" enctype="multipart/form-data">

            <div class="mb-3">
                <label for="formFile" class="form-label">Select your picture here</label>
                <input class="form-control" type="file" id="formFile" name="file">
            </div>

            <div class="col">
                <input type="text" name="ctr" class="form-control" placeholder="Enter Coefficents here">
            </div>
            <div class="col">
                <input type="text" name="t" class="form-control" placeholder="Enter T array here">
            </div>
            <div class="col">
                <input type="text" name="k" class="form-control" placeholder="Enter K value here">
            </div>
            <p>
                <input type="submit" value="Upload pic" class="btn btn-info">
            </p>
        </form>
    </div>
    <img src={{url}} class="center" alt="spline demo" >
</div>
{% endblock %}
